<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
        body {
            text-align: center;
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>
    <h1>Howdy!</h1>

    <h2>It looks like you bought a QR Code at <a href="https://localmainstreet.com">LocalMainStreet</a></h2>
    <br>
    <h3>Your QR Code is attached to this email. Have a good day!</h3>
</body>
</html>